@import 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap';


html {
    scroll-behavior: smooth;
}

@tailwind base;

button:focus, a:focus, input:focus, select:focus, textarea:focus {
    @apply outline-none;
}

@tailwind components;
@tailwind utilities;

#page-icon img {
  -webkit-animation: cssfilter 3s infinite;
}


@-webkit-keyframes cssfilter {
  0%, 100%  {  
    filter: invert(75%) drop-shadow(0px 0px 2px blue) 
  }
  
  50% { 
    filter: invert(0%) drop-shadow(0px 0px 1px teal); 
  }
}